.tab, .nav-tabs {
  padding: 10px 20px; /* Gives some space to tab titles */
  color: red; /*Colors the text in gray */
}

.activetab {
  color: black; /*Colors the text in black*/
  border-bottom: 3px solid #2d2d2d; /* Underlines the text with a bold dark border */
}

.breadcrumb-dark{
background-color: black;
}

table {
 width: 100%;
 padding: 10px 20px;
}

.table > thead > tr > th {
border-bottom-width: 1px;
font-size: 0.825rem;
font-weight: bold;
}

th.mat-sort-header-sorted {
 color: black;
}

.bouttonValid {
 padding: 20px;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 0.825rem;
  font-weight: bold;
}


.card {
  box-shadow: none;
}
.black-card {
  background-color: black;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #2196f3;
}

#add-parametre {
  margin-bottom: 50px;
}