<div class="row black-card">
  <div class="col-md-8 text-left">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="dark breadcrumb">
      <ol class="breadcrumb breadcrumb-dark">
        <li class="breadcrumb-item"><a href="metric">METRIC</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/metric/tableau-de-bords">Tableaux de Bord</a>
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          {{ tb.name }}
        </li>
      </ol>
    </nav>
  </div>
  <div class="col-md-4 text-right" *ngIf="tb.id">
    <button
      class="btn btn-outline-primary"
      data-toggle="modal"
      data-target="#addRelationModal">
      <span><i class="material-icons">add</i>Ajout d'indicateurs</span>
    </button>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-text">
            <h4 class="card-category">
              {{ tb.id ? tb.name : 'Tableau de bord Non trouvé !' }}
            </h4>
          </div>
          <div class="float-right mt-2">
            <button
              class="material-icons"
              title="télécharger le reporting"
              style="
                color: orangered;
                width: auto;
                border: none;
                background: none;
              "
              [hidden]="reportingNotReady"
              (click)="downloadReporting()">
              <mat-icon>save_alt</mat-icon>
            </button>
          </div>
          <br /><br />
          <div class="row col-md-6 mr-auto ml-auto">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <mat-form-field>
                <mat-select
                  placeholder="année"
                  (selectionChange)="anneeReportingChange($event.value)"
                  name="anneeReporting">
                  <mat-option
                    *ngFor="let annee of anneesReporting"
                    [value]="annee"
                    >{{ annee }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <mat-form-field>
                <mat-select
                  placeholder="mois"
                  (selectionChange)="moisReportingChange($event.value)"
                  name="moisReporting"
                  [disabled]="isAnneeNotSelected">
                  <mat-option
                    *ngFor="let m of moisToSelect"
                    [value]="m.valeur"
                    >{{ m.valeur }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <button
              mat-raised-button
              type="button"
              class="btn btn-success ml-5"
              [disabled]="isMoisNotSelected"
              (click)="generateReporting()">
              Valider
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="tab-content tab-space">
            <div class="card-body">
              <div class="toolbar"></div>
              <div class="material-datatables">
                <table
                  datatable
                  [dtOptions]="dtOptions"
                
                  class="table table-striped table-no-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Intitulé de l'indicateur</th>
                      <th class="disabled-sorting text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let indicateurTb of indicateursTb">
                      <ng-container>
                        <tr>
                          <td
                            class="text-primary"
                            style="width: 90%"
                            [routerLink]="[
                              '/metric/indicateurs',
                              indicateurTb.id
                            ]">
                            {{ indicateurTb.name }}
                          </td>
                          <td class="text-primary text-center">
                            <a
                            (click)="setIndicateurToDeleteFromTB(indicateurTb.id)"
                            data-toggle="modal"
                            data-target="#deleteModal"
                            title="Supprimer l'indicateur de cette instance"
                            class="btn btn-link btn-danger btn-just-icon delete"
                            ><i class="material-icons">delete</i></a
                          >
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <!-- <div *ngIf="indicateursTb.length == 0">
                    Ce Tableau de bord ne contient aucun indicateur
                  </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col-md-12 -->
  </div>

  <!-- debut modal confirmation suppression indicateur d'une instnce de TB -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md" style="z-index: 1041">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Supprimer l'indicateur du TB</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer justify-content-center">
            <button
              mat-raised-button
              type="button"
              class="btn"
              (click)="deleteIndicateurTb()"
              data-dismiss="modal">
              Supprimer
            </button>
            <button
              mat-raised-button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal">
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
 
  <!-- fin modal confirmation suppression indicateur d'un de TB -->

  <!-- début modal ajout indicateur à un TB -->
  <div class="row">
    <div
      class="modal fade"
      id="addRelationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              Ajouter des indicateurs au {{ tb.name }}
            </h4>
            <button
              mat-button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true">
              <i class="material-icons">clear</i>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group bmd-form-group is-filled">
              <form class="row" [formGroup]="addIndicateurTBRelationForm">
                <div class="col-md-12">
                  <ng-multiselect-dropdown
                    [placeholder]="
                      'veuiillez choisir les indicateurs à ajouter'
                    "
                    [settings]="indicateursdropdownSettings"
                    [data]="indicateursToAdd"
                    [formControl]="
                      addIndicateurTBRelationForm.controls[
                        'selectedIndicateurs'
                      ]
                    "
                    required>
                  </ng-multiselect-dropdown>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button
              mat-raised-button
              type="button"
              class="btn"
              [disabled]="!addIndicateurTBRelationForm.valid"
              (click)="
                addIndicateurToTB(
                  addIndicateurTBRelationForm.value.selectedIndicateurs
                )
              "
              data-dismiss="modal">
              Valider
            </button>
            <button
              mat-raised-button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal">
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  End Modal -->
  </div>

  <!-- fin modal ajout indicateur à un TB -->
</div>
