
<div class="luxury-container">
    <!-- Header avec effet de verre et menu -->
    <header class="glass-header" >
      <div class="header-content">
        <!-- Logo à gauche -->
       
        <div class="logo-container">
          <img src="assets/img/anam.png" alt="Logo" class="logo">
         
        </div>
        
       
      </div>
      <p class="subtitle">Votre porte-voix numérique</p>
    </header>
  
    <!-- Contenu principal -->
    <main class="content" style="background-color: white;">
      <div class="card-grid">
        <!-- Carte 1 -->
        <a routerLink="/marin/plainte" class="luxury-card card-1">
          <div class="card-content">
            <div class="card-icon">
             <img src="assets/img/megaphone.png" alt="Photo" class="card-image">
            </div>
            <h3>Faire une plainte</h3>
            <p class="card-description"  style="color: #f8f8f8; font-weight: normal;" >Déposez votre plainte en ligne de manière sécurisée</p>
          </div>
          <div class="liquid-effect"></div>
        </a>
  
        <!-- Carte 2 -->
        <a routerLink="/marin/suivre-plaintes" class="luxury-card card-2">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <h3>Suivre mes plaintes</h3>
            <p class="card-description" style="color: white;  font-weight: normal;">Consultez l'état d'avancement de vos plaintes</p>
          </div>
          <div class="liquid-effect"></div>
        </a>
  
        <!-- Carte 3 -->
        <a routerLink="/marin/aide-vocale" class="luxury-card card-3">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-microphone-alt"></i>
            </div>
            <h3>Aide Vocale</h3>
            <p class="card-description" style="color: white;  font-weight: normal;">Assistance vocale pour vous guider</p>
          </div>
          <div class="liquid-effect"></div>
        </a>
  
        <!-- Carte 4 -->
        <a routerLink="/marin/appeler" class="luxury-card card-4">
          <div class="card-content">
            <div class="card-icon">
              <i class="fas fa-phone-alt"></i>
            </div>
            <h3>Appeler l'ANAM</h3>
            <p class="card-description" style="color: white;  font-weight: normal;">Contactez-nous directement par téléphone</p>
          </div>
          <div class="liquid-effect"></div>
        </a>
      </div>
    </main>
      <div class="ocean">
        <div class="waves">
          <div class="wave" id="wave-1"></div>
          <div class="wave" id="wave-2"></div>
          <div class="wave" id="wave-3"></div>
          <div class="wave" id="wave-4"></div>
          <div class="wave" id="wave-5"></div>
        </div>
        <div class="continuité">

        </div>


      </div>
      
  