<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title">ANAM TOOLs</h2>
            <h5 class="description">Un emplacement centralisé pour les outils ANAM ( liens, MODOP, manuels, ...)</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card card-pricing">
              <h4 class="card-category"> IMS</h4>
              <div class="card-body">
                <div class="card-icon icon-green">
                  <i class="material-icons">router</i>
                </div>
                <h5 class="card-title">Inventory Management System</h5>
                <p class="card-description">Outil d'inventaires.</p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-round btn-green">Découvrir</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-pricing ">
              <h4 class="card-category"> GUARDIAN</h4>
              <div class="card-body">
                <div class="card-icon icon-info ">
                  <i class="material-icons">home</i>
                </div>
                <h5 class="card-title">MARINE - OCEANE - SWAN</h5>
                <p class="card-description">Gestion incidents - ATP</p>
              </div>
              <div class="card-footer justify-content-center ">
                <a href="#" class="btn btn-round btn-info">Découvrir</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-pricing">
              <h4 class="card-category">SUPER</h4>
              <div class="card-body">
                <div class="card-icon icon-primary">
                  <i class="material-icons">timeline</i>
                </div>
                <h5 class="card-title">Plan d'Actions</h5>
                <p class="card-description">Suivi performance</p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-round btn-primary">Découvrir</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-pricing">
              <h4 class="card-category">RADAR</h4>
              <div class="card-body">
                <div class="card-icon icon-rose">
                  <i class="material-icons">table_chart</i>
                </div>
                <h5 class="card-title">RADAR</h5>
                <p class="card-description">Gestion tableaux de bord.</p>
              </div>
              <div class="card-footer justify-content-center ">
                <a href="#" class="btn btn-round btn-rose">Découvrir</a>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
