<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            <img src="assets/img/anam.png" alt="ANAM Logo" class="footer-logo">
          </a>
        </li>
        <li>
          <a href="#" class="footer-text">
            Agence Nationale des Affaires Maritimes
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}}
    </div>
  </div>
</footer>
